*{
    box-sizing: border-box;
}
h1{
    color: rgb(121, 88, 88);
}
h2{
    color: yellow;
}
p{
    color: red;
}
.menu{
    background-color: cadetblue;
    display: flex;
    justify-content: flex-end;
}


.menu a{
    text-decoration: none;
    padding: 20px;
    color: rgb(243, 240, 240);
}
.menu a:hover{
    color: rgb(38, 185, 117);
    background-color: blueviolet;
}
.row{
    flex-wrap: wrap;
   display: flex;
   
}
.culumn{
    flex: 25%;
    padding: 10px;
}
